body {
  font-family: Arial, sans-serif;
  background-image: url(background1.jpg);
  margin: 0;
  padding: 20px;
  transition: background-color 0.3s;
}

td{
  width: 300px;
  padding: 20px;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.toggle-label {
  margin-left: 10px;
  color: blue;
  font-size: 25px;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 7px solid black;

}


.gif {
  max-width: 300px;
  margin-bottom: 20px;
}

.info h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.link2{
  display: inline-block;
  padding: 10px 30px;
  background-color: red;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: #85afdd;
}

.link2:hover {
  background-color: pink;
}

.change-background {
  background-image: url(background2.jpg);
}

